Source: fdpowermon
Section: x11
Priority: extra
Maintainer: Wouter Verhelst <wouter@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>> 7)
Vcs-Git: git://git.debian.org/users/wouter/fdpowermon.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=users/wouter/fdpowermon.git

Package: fdpowermon
Architecture: all
Depends: libgtk2-perl, acpi, ${misc:Depends}, ${perl:Depends}, fdpowermon-icons|oxygen-icon-theme
Recommends: libgtk2-notify-perl
Description: simple battery power monitor for laptops with ACPI
 fdpowermon is a simple perl script that installs an icon in a system
 tray compatible with the freedesktop.org specification.
 .
 Every three seconds, fdpowermon calls acpi to find out what the current
 battery level is. It will set the output of the acpi command as a
 tooltip text, and will update the used icon as appropriate.
 .
 In addition, fdpowermon can optionally call perl subroutines when the
 power reaches a given level. No such subroutines are provided or
 enabled by default, however.

Package: fdpowermon-icons
Architecture: all
Conflicts: oxygen-icon-theme
Depends: ${misc:Depends}
Description: icons for fdpowermon
 fdpowermon is a simple perl script that installs an icon in a system
 tray compatible with the freedesktop.org specification.
 .
 By default, it uses an icon set from the 'oxygen' icon theme. However,
 that icon theme is fairly large (several tens of megabytes), which is a
 waste if the oxygen-icon-theme package is not installed for other
 reasons. Therefore, this package contains just those icons from the
 oxygen-icon-theme package that are needed by fdpowermon, and nothing
 more.
